{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Edit Post
{% endblock title %}
{% block content %}
    <h1>Edit Post</h1>
    {% if post.author.pk == request.user.pk %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Update">
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Cancel</a>
    </form>
    {% else %}
        <h3>You are not the author of this post</h3>
    {% endif %}
{% endblock content %}
